
body {	
	margin: 1rem 1rem;
	min-height: calc(100vh - (1rem + 1rem));	
	
	font-family: 'Roboto-condensed', sans-serif;	
	font-weight: 350;
	font-size: var(--font-size-base);
	line-height: 1.8rem;
	color: white;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 3rem;

	border: 1px solid rgb(227, 165, 74);
	box-shadow: 0 0 15px rgb(227, 165, 74);
	background: black;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	max-width: 1080px;	
	margin: 0 auto var(--spacing-small);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
	padding: 0 var(--spacing-small);
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Star Wars', sans-serif;
}

h1 {
	margin-top: var(--spacing-medium);
}

p.introduction {
	margin-bottom: 1rem;
	font-weight: inherit;
	font-style: italic;
	
}

nav {
	text-align: center;
}

h3 {
	transition: 200ms;
}

h3:hover {
	color: var(--color-gold);
	transform: scale(1.08);
}


footer {
	align-self: center;
}