
body {	
	margin: 2rem 2rem;	
	font-family: 'Zagist', sans-serif;	
	font-size: var(--font-size-base);
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 3rem;
	color: white;
	line-height: 1.8rem;
	background: black;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Star Wars', sans-serif;
}

p {
	margin-bottom: 1rem;
}

nav {
	text-align: center;
}


footer {
	align-self: center;
}