:root {
	--font-size-base: 18px;
	--font-size-medium: 1.5rem;
	--font-size-large: 1.8rem;

	--spacing-xsmall: 0.5rem;
	--spacing-small: 1rem;
	--spacing-medium: 2rem;
	--spacing-large: 4rem;

	--color-gold: rgb(227, 165, 74);

}