
body {	
	margin: 1rem 1rem;
	min-height: calc(100vh - (1rem + 1rem));
	
	
	font-family: 'Roboto-condensed', sans-serif;	
	font-weight: 350;
	font-size: var(--font-size-base);
	line-height: 1.8rem;
	color: white;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;

	border: 1px solid rgb(227, 165, 74);
	box-shadow: 0 0 15px rgb(227, 165, 74);
	background: black;
	

	position: relative;

}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	height: 100%;
	width: 100%;
	max-width: 1080px;		
	margin: 0 auto;
	padding: 0 var(--spacing-medium);
	flex: 1 0 auto;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Star Wars', sans-serif;
}

h1 {
	margin-top: var(--spacing-medium);
}

.landing-page__heading {
	position: absolute;
	top: 150px;
}

h3 {
	width: fit;
	transition: 200ms;
}

h3:hover {
	color: var(--color-gold);
	transform: scale(1.08);
}

p.introduction {
	margin-bottom: var(--spacing-large);
	letter-spacing: 0.7px;
}

nav {
	text-align: center;
}

.landingpage__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}
	
article h4 {
	margin-top: var(--spacing-small);
}

footer {
	align-self: center;	
	margin-bottom: var(--spacing-medium);
	margin-top: auto;
	flex-shrink: 0;
}

