
.subpage-background {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	object-fit: cover;
	opacity: 0.2;
}


.cards__card {
	display: flex;
	flex-direction: column;
	/* gap: var(--spacing-small); */
}

img {
	border: .5px solid black;
	margin-bottom: var(--spacing-medium);
}

.card__content li {
	margin-bottom: var(--spacing-xsmall);
}

h5 {
	margin-bottom: var(--spacing-medium);
	font-size: 18px;
}

li span:nth-last-of-type(2) {
	font-weight: 800;
	margin-right: .5rem;
}

.light-saber {
	width: 75%;
	height: 6px;
	border-radius: 6px;
	border: 1px solid rgba(235, 33, 46, 0.8);
	box-shadow: 0 0 10px rgba(235, 33, 46, 0.8);	
	overflow: hidden;
	display: flex;	
	margin: var(--spacing-medium) auto var(--spacing-medium);	
}

.light-saber div:nth-of-type(1),
.light-saber div:nth-of-type(3) {
	flex-basis: 80%;
	background: rgb(235, 33, 46);
}

.light-saber div:nth-of-type(2) {
	flex-basis: 20%;
	border: 1px dotted white;
	background: grey;

}

@media screen and (min-width: 700px) {
	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: var(--spacing-medium);
	}



	.card__image {
		max-width: 20rem;
	}	

	.cards__card {
		flex-direction: row;
		margin-bottom: 3rem;
		gap: var(--spacing-medium);
	}
	
	.cards__card div {
		max-width: 60% ;
	}

	.light-saber {
		display: none;
	}
}